.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.white-background {
    -fx-background-color: #ffffff;
}

.selected {
    -fx-background-color: #F3F3F3;
}

.mouse-moved:hover {
    -fx-background-color: #FFFFFF;
}

.custom-button:hover {
    -fx-background-color: #FFD700;
}

.table-view {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-padding: 0;
    -fx-column-halignment: center;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: #018786;
    -fx-border-color: #03DAC6;
    -fx-padding: 0;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #018786;
}

.table-view .column-header-background .label {
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .track {
    -fx-padding: 0px;
    -fx-max-height: 0;
}

