.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.white-background {
    -fx-background-color: #ffffff;
}

.selected {
    -fx-background-color: #F3F3F3;
}

.mouse-moved:hover {
    -fx-background-color: #FFFFFF;
}

.custom-button:hover {
    -fx-background-color: #FFD700;
}