.mouse-moved:hover {
    -fx-background-color: #1e4f5f;
    -fx-text-fill: #FFFFFF;
}

.transparent {
    -fx-background-color: #EEEEEE;
}

.radius {
    -fx-background-radius: 40 40 40;
}

.button:hover {
    -fx-background-color: #1e4f5f;

}