.mouse-moved:hover {
    -fx-background-color: #1e4f5f;
    -fx-text-fill: #FFFFFF;
}

.transparent {
    -fx-background-color: transparent;
}

.radius {
    -fx-background-radius: 40 40 40;
}

.button:hover {
    -fx-background-color: #1e4f5f;

}

.table-view {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-padding: 0;
    -fx-column-halignment: center;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: #018786;
    -fx-border-color: #03DAC6;
    -fx-padding: 0;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #018786;
}

.table-view .column-header-background .label {
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .track {
    -fx-padding: 0px;
    -fx-max-height: 0;
}

.chart-bar {
    -fx-background-color: #018786;
    -fx-bar-fill: #03DAC6;
    -fx-bar-width: 5px;
}


.chart-title {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.data0.chart-bar {
    -fx-background-color: #00E0C7;
    -fx-width: 5px;
}

.data1.chart-bar {
    -fx-background-color: #00E0C7;
    -fx-width: 5px;
}